@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'https://fontlibrary.org/face/cmu-serif';
body {
  margin: 0 auto;
  max-width: 40em;
  /*font-family: "Roboto",Corbel,Avenir,"Lucida Grande","Lucida Sans",sans-serif!important;*/
  font-family: 'CMUSerifRoman'
  line-height: 1.5;
  color: #3e4349;
  font-size: 17px;
  text-align: justify;
}


h1,h2,h3,h4
strong {
  color: #333;
}

/*code,
pre {
  background: #eee;
}*/

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

a {
  color: #e81c4f;
}

header {
  background-color: #263d36;
  background-image: url("https://unsplash.com/photos/qH36EgNjPJY");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}
p {
-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

div.body p, div.body dd, div.body li {
    line-height: 1.4em;
}
